In [2]:
import pandas as pd
import numpy as np
import os
import matplotlib

In [3]:
path = r"INSERT PATH"

In [4]:
df = pd.read_csv('datasample1.csv')   
df2 = pd.read_csv('datasample_setA.csv')

In [8]:
df

,1000661944,20090505,U,Toyota,Sienna,2006,Y,20120503,Unleaded Gas,P,201904,2019-04-20,201904_HistoricalData
0,1000873290,20130718,U,Ford,Escape,2005,Y,20170103.0,Unleaded Gas,P,201904,2019-04-20,201904_HistoricalData
1,1005344304,20141031,U,Ford,Mustang,2003,Y,20151218.0,Unleaded Gas,P,201904,2019-04-20,201904_HistoricalData
2,1002810245,20120612,U,Porsche,Boxster,2000,N,NaN,Unleaded Gas,P,201904,2019-04-20,201904_HistoricalData
3,1002327903,20130604,U,Ford,Ranger,1997,N,NaN,Unleaded Gas,P,201904,2019-04-20,201904_HistoricalData
4,1002283792,20110604,N,BMW,3 Series,2011,Y,20121220.0,Unleaded Gas,P,201904,2019-04-20,201904_HistoricalData
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1303855,1007241551,20150123,N,Ford,Explorer,2015,N,NaN,Unleaded Gas,P,201904,2019-04-20,201904_HistoricalData
1303856,1004986575,20150409,U,Dodge,Ram 1500,2009,Y,20161122.0,Unleaded Gas,P,201904,2019-04-20,201904_HistoricalData
1303857,1003354543,20130627,N,Hyundai,Azera,2012,N,NaN,Unleaded Gas,P,201904,2019-04-20,201904_HistoricalData
1303858,1003537976,20111020,U,Jeep,Wrangler,2006,Y,20160429.0,Unleaded Gas,P,201904,2019-04-20,201904_HistoricalData
1303859,1000499890,20100714,U,Ford,Ranger,1996,N,NaN,Unleaded Gas,P,201904,2019-04-20,201904_HistoricalData

In [12]:
list(df2.columns.values)
df2

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,FORD,FUSION,1,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166,Unnamed: 167,1004727730,201904,2019-04-20,201904_HistoricalData
0,NaN,NaN,NaN,NaN,FORD,F-SERIES,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1004935422,201904,2019-04-20,201904_HistoricalData
1,NaN,NaN,NaN,NaN,FORD,CROWN VICTORIA,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1007605310,201904,2019-04-20,201904_HistoricalData
2,NaN,NaN,NaN,NaN,FORD,FUSION,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1001339358,201904,2019-04-20,201904_HistoricalData
3,NaN,NaN,NaN,NaN,FORD,F-SERIES,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1004692758,201904,2019-04-20,201904_HistoricalData
4,NaN,NaN,NaN,NaN,LINCOLN,TOWN CAR,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1002032675,201904,2019-04-20,201904_HistoricalData
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
351509,NaN,NaN,NaN,NaN,FORD,EXPLORER,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1004320589,201904,2019-04-20,201904_HistoricalData
351510,NaN,NaN,NaN,NaN,FORD,FOCUS,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1006830033,201904,2019-04-20,201904_HistoricalData
351511,NaN,NaN,NaN,NaN,FORD,TAURUS,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1005414371,201904,2019-04-20,201904_HistoricalData
351512,NaN,NaN,NaN,NaN,FORD,FUSION,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1007581804,201904,2019-04-20,201904_HistoricalData
351513,NaN,NaN,NaN,NaN,FORD,FUSION,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1000026664,201904,2019-04-20,201904_HistoricalData

In [18]:
new_data = pd.merge(df, df2, left_on="1000661944", right_on="1004727730", how="outer")
new_data.sample(20)

,1000661944,20090505,U,Toyota,Sienna,2006,Y_x,20120503,Unleaded Gas,P,...,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166,Unnamed: 167,1004727730,201904_y,2019-04-20_y,201904_HistoricalData_y
1134361,1.004800e+09,20111119.0,U,Ford,Focus,2001.0,Y,20140423.0,Unleaded Gas,P,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
382100,1.003187e+09,20120716.0,N,Ford,Taurus,2011.0,Y,20160706.0,Unleaded Gas,P,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1402479,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.003230e+09,201904.0,2019-04-20,201904_HistoricalData
724605,1.005593e+09,20110705.0,U,Lexus,IS,2008.0,Y,20170413.0,Unleaded Gas,P,...,NaN,NaN,NaN,NaN,NaN,NaN,1.005593e+09,201904.0,2019-04-20,201904_HistoricalData
1035817,1.000624e+09,20170613.0,N,Dodge,Journey,2017.0,N,NaN,Unleaded Gas,P,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
676454,1.004800e+09,20160120.0,U,Ford,F250 Super Duty,2004.0,N,NaN,Unleaded Gas,P,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
713562,1.001559e+09,20160411.0,N,Dodge,Challenger,2016.0,N,NaN,Flex,P,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
781165,1.002332e+09,20171026.0,U,Land Rover,Range Rover Sport,2006.0,N,NaN,Unleaded Gas,P,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
137127,1.002114e+09,20090706.0,N,Ford,Escape,2009.0,Y,20150611.0,Unleaded Gas,P,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
280251,1.001346e+09,20170509.0,U,Nissan,Frontier,1998.0,N,NaN,Unleaded Gas,P,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
373307,1.007075e+09,20170313.0,U,Nissan,Versa,2010.0,Y,20180508.0,Unleaded Gas,P,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1464452,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.006719e+09,201904.0,2019-04-20,201904_HistoricalData
218717,1.005533e+09,20130308.0,N,Ford,F150,2013.0,Y,20170207.0,Flex,L,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
652266,1.004647e+09,20170401.0,U,Ford,Escape,2014.0,N,NaN,Unleaded Gas,P,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
137528,1.001071e+09,20160205.0,N,Volkswagen,Tiguan,2016.0,Y,20170310.0,Unleaded Gas,L,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262223,1.000602e+09,20091229.0,U,Ford,F250,1996.0,N,NaN,Diesel,P,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32908,1.002909e+09,20150909.0,U,Ford,Explorer Sport Trac,2008.0,N,NaN,Unleaded Gas,P,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
247201,1.000018e+09,20101210.0,U,Ford,Windstar Vans,1999.0,Y,20111121.0,Unleaded Gas,P,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
147933,1.003948e+09,20090709.0,U,Chevrolet,Lumina,1995.0,Y,20100405.0,Unleaded Gas,P,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
129222,1.007512e+09,20150918.0,U,Kia,Sportage,2008.0,Y,20160819.0,Unleaded Gas,P,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN